$purple-100: hsl(254, 88%, 90%);
$purple-500: hsl(256, 67%, 59%);
$yellow-100: hsl(31, 66%, 93%);
$yellow-500: hsl(39, 100%, 71%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 7%);
$background-white: hsl(40, 16%, 96%);
$page-width: min(97vw, 100vh);
$grid-gap: 1.2vw;
$grid-gap-small: 6vw;
$grid-padding: 1vw;
$grid-padding-small: 2vw;
$grid-size-w : calc(($page-width - $grid-gap*11 - $grid-padding*2) / 12);
$grid-size-w-small : calc($page-width - $grid-padding-small*2);
$grid-size-h : calc(($page-width - $grid-gap*12 - $grid-padding*2) / 10);
$grid-size-h-small : minmax(100px, 50%);

@font-face {
    font-family: DMSans-Reg;
    src: url(../assets/fonts/static/DMSans-Regular.ttf);
}

@font-face {
    font-family: DMSans-Med;
    src: url(../assets/fonts/static/DMSans-Medium.ttf);
}

@font-face {
    font-family: DMSans-Med-Italic;
    src: url(../assets/fonts/static/DMSans-MediumItalic.ttf);
}

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin font($val) {
    @if $val==bold {
        font-family: DMSans-Med, sans-serif;
        font-weight: 600;
    }

    @else if $val ==med {
        font-family: DMSans-Med, sans-serif;
        font-weight: normal;
    }

    @else if $val ==reg {
        font-family: DMSans-Reg, sans-serif;
        font-weight: normal;
    }

    @else if $val ==ital {
        font-family: DMSans-Med-Italic, sans-serif;
        font-weight: normal;
    }

    @else {
        font-family: DMSans-Reg, sans-serif;
        font-weight: normal;
    }
}

html {
    font-size: 16px;
    height: 100vh;
    width: 100vw;
}

body {
    @include font(reg);
    height: 100vh;
    width: $page-width;
    margin: 0 auto;
    background-color: $background-white;
}

.attribution {
    font-size: 14px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

img {
    width: 100%;
}

.grid {
    background-color: $background-white;
    width: $page-width;
    height: 100vh;
    display: grid;
    gap: $grid-gap;
    margin: auto;
    padding: $grid-padding;
    grid-template-columns: repeat(12, $grid-size-w);
    grid-template-rows: repeat(10, $grid-size-h);
    grid-template-areas:
        "create create create social social social social social social schedule schedule schedule"
        "create create create social social social social social social schedule schedule schedule"
        "create create create social social social social social social schedule schedule schedule"
        "create create create social social social social social social schedule schedule schedule"
        "create create create manage manage manage  manifest manifest manifest schedule schedule schedule"
        "write write write manage manage manage manifest manifest manifest  schedule schedule schedule"
        "write write write manage manage manage manifest manifest manifest schedule schedule schedule"
        "write write write faster faster faster grow grow grow grow grow grow"
        "write write write faster faster faster grow grow grow grow grow grow"
        "write write write faster faster faster grow grow grow grow grow grow"
}

.item {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.create {
    grid-area: create;
    background-color: $yellow-100;
    font-size: 1.7rem;
    letter-spacing: -0.125rem;
    line-height: 0.9;
    @include font(med);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12%;
    gap: 10%;

    span {
        color: $purple-500;
        @include font(ital);
    }

}

.write {
    grid-area: write;
    background-color: $yellow-500;
    font-size: 1.7rem;
    letter-spacing: -0.125rem;
    line-height: 0.9;
    @include font(bold);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 12%;
    gap: 10%;

    p {
        align-self: start;
    }

    img {
        width: 115%;
    }
}

.social {
    grid-area: social;
    background-color: $purple-500;
    color: $white;
    font-size: 2.5rem;
    letter-spacing: -0.125rem;
    line-height: 0.9;
    text-align: center;
    @include font(bold);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20% 8%;
    gap: 10%;

    img {
        width: 45%;
    }

    .smaller {
        @include font(reg);
        font-size: 0.9rem;
        letter-spacing: 1px;
    }

    .yellow {
        color: $yellow-500;
    }

    .italic {
        @include font(ital);
    }
}

.manage {
    grid-area: manage;
    background-color: $white;
    font-size: 1.4rem;
    letter-spacing: -0.125rem;
    line-height: 0.9;
    text-align: left;
    @include font(med);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 10%;
    gap: 10%;
    overflow: hidden;

    img {
        width: 120%;
        position: relative;
        left: 3%;
    }

    p {
        padding-left: 3%;
    }
}

.maintain {
    grid-area: manifest;
    background-color: $yellow-500;
    font-size: 1.4rem;
    letter-spacing: -0.125rem;
    line-height: 0.9;
    text-align: left;
    @include font(med);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 12%;
    gap: 10%;
    overflow: hidden;

    img {
        position: relative;
        top: 16%;
    }
}

.faster {
    grid-area: faster;
    background-color: $white;
    font-size: 0.7rem;
    letter-spacing: 0.0625rem;
    line-height: 1.2;
    text-align: left;
    @include font(reg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8%;
    gap: 15%;
    overflow: hidden;

    .large {
        font-size: 2.6rem;
        @include font(bold);
        display: block;
    }

    img {
        width: 80%;
    }

}

.schedule {
    grid-area: schedule;
    background-color: $purple-100;
    font-size: 0.9rem;
    letter-spacing: -0.0625rem;
    line-height: 0.9;
    text-align: left;
    @include font(reg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12% 0;
    gap: 6%;
    overflow: hidden;

    p {
        padding-left: 13%;
    }

    .heading {
        font-size: 1.5rem;
        @include font(bold);
        padding-bottom: 2%;
    }

    img {
        width: auto;
        height: 53%;
        position: relative;
        left: 39%;
    }

    .info {
        line-height: 1;
        letter-spacing: 1px;
    }

}

.grow {
    grid-area: grow;
    background-color: $purple-500;
    font-size: 1.6rem;
    letter-spacing: -0.0625rem;
    line-height: 0.9;
    text-align: left;
    @include font(reg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3%;
    gap: 0%;
    overflow: hidden;

    img {
        width: auto;
        height: 90%
    }

    p {
        width: 50%;
        color: $white;
    }
}

@media only screen and (max-width: 650px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 500px) {
    html {
        font-size: 10px;
    }
}

@media only screen and (max-width: 375px) {
    body {
        margin: 0;
    }

    html {
        font-size: 16px;
    }

    .grid {
        height: auto;
        min-height: 100vh;
        gap: $grid-gap-small;
        padding: $grid-padding-small;
        grid-template-columns: repeat(1, $grid-size-w-small);
        grid-template-rows: repeat(8, $grid-size-h-small);
        grid-template-areas:
            "social"
            "manage"
            "manifest"
            "schedule"
            "grow"
            "faster"
            "create"
            "write";
    }

    .social {
        font-size: 2.3rem;
        letter-spacing: -0.125rem;
        line-height: 1;
        padding: 20% 8%;
        gap: 10%;
        @include font(reg);

        p {
            width: 80%;
        }

        img {
            width: 50%;
        }

        .smaller {
            @include font(reg);
            font-size: 0.9rem;
            letter-spacing: 1px;
        }

        .yellow {
            color: $yellow-500;
        }

        .italic {
            @include font(ital);
        }
    }

    .manage {
        padding: 5%;
        gap: 10%;

        img {
            width: 100%;
            left: 0%;
        }

        p {
            padding-left: 0%;
            padding-bottom: 5%;
        }
    }

    .maintain {
        font-size: 1.5rem;
        padding: 8% 5%;
        gap: 3%;
        height: 200px;

        p {
            width: 80%;
        }

        img {
            width: 60%;
            top: 16%;
        }
    }

    .schedule {

        font-size: 1rem;
        letter-spacing: 0.0625rem;
        line-height: 1;
        text-align: center;
        padding: 0 3%;
        gap: 4%;
        height: 450px;

        p {
            padding-left: 0;
            width: 100%;
        }

        .heading {
            padding-bottom: 0%;
            padding-top: 10%;
            width: 100%;
            font-size: 1.3rem;
        }

        img {
            width: 98%;
            height: auto;
            left: 0;
        }

        .info {
            width: 85%;
            line-height: 1;
            letter-spacing: 1px;
            padding-bottom: 10%;
        }

    }

    .grow {
        font-size: 1.6rem;
        letter-spacing: -0.0625rem;
        line-height: 0.8;
        text-align: center;
        flex-direction: column;
        padding: 10%;
        gap: 10%;

        img {
            width: 75%;
            height: auto;
        }

        p {
            width: 70%;
            color: $white;
        }
    }

    .faster {
        font-size: 0.8rem;
        letter-spacing: 0.0625rem;
        line-height: 1.2;
        justify-content: start;
        align-items: start;
        padding: 5%;
        gap: 15%;

        .large {
            font-size: 2.6rem;
            @include font(bold);
            display: block;
        }

        img {
            width: 40%;
            padding-bottom: 5%;
        }

    }

    .create {
        padding: 8%;
        gap: 15%;
        align-items: start;

        img {
            width: 45%;
        }

    }

    .write {
        justify-content: space-between;
        align-items: start;
        padding: 5%;
        gap: 7%;

        p {
            align-self: start;
            width: 80%;
        }

        img {
            width: 65%;
            padding-bottom: 7%;
        }
    }
}

@media only screen and (max-width: 250px) {
    html {
        font-size: 12px;
    }
}